<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crypto Trading App</title>
  <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="user-info">
        <% if (sUser) { %>
          <h2>Welcome, <%= sUser.username %> (ID: <%= sUser.id %>)</h2>
        <% } else { %>
          <h2>No User Selected</h2>
        <% } %>
      </div>
    
      <h1>Live <%= selectedTicker %> Price: $<span id="livePrice"><%= livePrice %></span></h1>

  <!-- User Form -->
  <h2>Create a New User</h2>
  <form action="/users" method="POST">
    <input type="text" name="username" placeholder="Enter Username" required>
    <button type="submit">Create User</button>
  </form>

  <h2>Select a Cryptocurrency Ticker</h2>
  <form action="/trades/set-ticker" method="POST" id="tickerForm">
    <select name="ticker" onchange="document.getElementById('tickerForm').submit()">
      <option value="BTC" <% if (selectedTicker === 'BTC') { %>selected<% } %>>BTC</option>
      <option value="ETH" <% if (selectedTicker === 'ETH') { %>selected<% } %>>ETH</option>
      <option value="LTC" <% if (selectedTicker === 'LTC') { %>selected<% } %>>LTC</option>
    </select>
  </form>

  <!-- Trade Form -->
  <h2>Make a Trade</h2>
  <form action="/trades/trade" method="POST">
    <button type="submit" name="orderType" value="BUY">Buy</button>
    <button type="submit" name="orderType" value="SELL">Sell</button>
  </form>

  <!-- Orders -->
  <h2>Open Orders</h2>
  <ul>
    <% orders.forEach(order => { %>
      <li>
        <h3><%= order.username %></h3> <br>
        <p class="">Ticker: <%= order.ticker %></p> 
        <p class="">Type: <%= order.orderType %></p> 
        <p class="">Price: $<%= order.price %></p>
        <p class="">Time: <%= order.time %></p>
        <p class="">Status: <%= order.status %></p>
        <% if (order.status === 'Open') { %>
          <form action="/trades/close-order/<%= order.id %>" method="POST">
            <button type="submit">Close Order</button>
          </form>
        <% } else { %>
           <p class="">Result: <%= order.result %></p>
        <% } %>
      </li>
    <% }) %>
  </ul>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        function updatePrice() {
          fetch('/trades/live-price')
            .then(response => response.json())
            .then(data => {
              const livePrice = parseFloat(data.livePrice);
              document.getElementById('livePrice').textContent = 
                isNaN(livePrice) ? 'N/A' : livePrice.toFixed(2);
            })
            .catch(error => console.error('Error fetching live price from inline script:', error));
        }
  
        setInterval(updatePrice, 1000);
        updatePrice(); // Initial call to set the price immediately on load
      });
    </script> 

</body>
</html>
